table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    height: 30px;
    font-family: "Inter", sans-serif;

}
img {
    width: 100%;
    height: 270px;
    border-radius: 10px;
}
p {
font-family: "Inter", sans-serif;
}
h1 {text-align: center;
font-family: "Inter", sans-serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*Dodajemy klsae aby podświetlić aktywny link*/
.active {
    background-color: #04AA6D;
    color: white;
}
.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.month {
    width: 48%;
    border: 1px solid #ccc;
    float: left
}
.monthmargin {
    width: 48%;
    border: 1px solid #ccc;
    float: left;
    margin: 0 10px;
}
.dropdown .dropbtn {
    font-family: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* dodaj szare tło do lików rozwijanych po njechaniu kursorem*/
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
.dropdown-concent a:hover {
    background-color: #ddd;
    color: black;
}
.dropdown:hover .dropdown-concent {
    display: block;
}
@media screen and (max-width: 950px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
         display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
        }
}
@media screen and (max-width: 950px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .month {
        width: 100%;
    }
    .monthmargin {
        width: 100%;
        margin: 0px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

}
