/* Dodajemy czarny kolor tła do górnego paska nawigacyjnego */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Stylizujemy linki wewnątrz paska nawigacyjnego */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Dodajemy klasę, aby podświetlić aktywny link */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Ukrywamy linki, który powinien otwierać i zamykać górną nawigację na małych ekranach */
.topnav .icon {
  display: none;
}

/* Kontener rozwijany - potrzebny do pozycjonowania zawartości rozwijanej */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dostosowanie przycisku rozwijanego menu do górnego paska nawigacyjnego */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} /*1la*/

/* Styl zawartości rozwijanej listy (domyślnie ukryty) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Stylizowanie linków wewnątrz listy rozwijanej */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Dodanie ciemnego tło do linków nawigacyjnych i przycisku rozwijanego po najechaniu kursorem */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Dodaj szare tło do linków rozwijanych po najechaniu kursorem */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Pokazuje menu rozwijane, gdy użytkownik przesunie mysz nad przycisk menu rozwijanego */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Gdy ekran ma mniej niż 600 pikseli szerokości, ukryj wszystkie linki, oprócz pierwszego („Home”). Pokaż link, który zawiera powinien otwierać i zamykać topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Klasa „responsive” jest dodawana do topnav za pomocą JavaScript, gdy użytkownik kliknie ikonę. Ta klasa sprawia, że ​​topnav wygląda dobrze na małych ekranach (wyświetla linki pionowo, a nie poziomo) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.wiersz {
  width: 100%;
}
.miesiac {
  float: left; 
  width: 45%;
}
 table, th, td {
            border: 2px solid black;
            /*border-collapse: separate;*/
            margin-top: 10px;
            margin-right: 10px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            
        }
        table{
width: 90% ;
        }
@media screen and (max-width: 600px) {
.miesiac {
width: 100%;
}
  
  
        }
